/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: inherit;
  font: inherit;
  text-decoration: none;
}
i, cite, em, var, dfn, address {
  /* prevent faux italic */
  font-style: normal;
}
b, h1, h2, h3, h4, h5, h6, strong, th {
  /* prevent faux bold */
  font-weight: normal;
}
/* HTML5 display-role reset for older browsers (UC Browser on Android) */
article, aside, figcaption, figure, footer, header, menu, section {
  display: block;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

h1, h2, h3, h4, h5, h6, p, a, span, strong, i, label, ul, li {
 font-family: 'QuicksandBold', 'Quicksand', sans-serif;
}

li {
  list-style: none;
  display: inline-block;
}

header {
  background: url(images/header-bg.png) no-repeat center;
  height: 790px;
  color: #fff;
  padding: 0 3%;
}

header a {
  color: #fff;
}

.wrap {
  margin: 0 auto;
}
header .wrap {
  max-width: 1150px;
  height: 790px;
  position: relative;
}

.header__top {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  max-width: 1150px;
  margin: 0 auto;
  text-align: center;
}

.header__top .brand {
  width: 53px;
  height: 40px;
  background: url(images/header-livello.png) no-repeat;
}

.header__top li {
  margin-left: 52px;
  padding: 0 5px;
}

.header__top li:last-child img {
  position: relative;
  top: 2px;
}

.header__top a {  
  font-size: 18px;
}

.header__top a:hover {
  color: #aa9b77;
}

header h1 {
  margin-top: 170px;
  text-align: center;
  font-size: 60px;
  font-weight: 700;
}

header p {
  text-align: center;
  font-size: 20px;
  max-width: 600px;
  margin: 15px auto 0;
}

header .bottom_link {
  display: block;
  margin: 310px auto 0;
  width: 40px;
  height: 40px;
}

.sort {
  padding: 0 3%;
  background: #f5f6f7;  
}

.sort .wrap {
  margin: 0 auto;
  height: 143px; 
  max-width: 1090px;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.sort form {
  margin-top: 61px
}

.sort label {
  text-transform: uppercase;
}

.see_product {
  color: #fff;
  background: #aa9b77;
  width: 204px;
  height: 52px;
  text-transform: uppercase;
  border-radius: 3px;
  font-size: 14px;
  text-align: center;
  padding-top: 17px;
  box-sizing: border-box;
  margin-top: 45px;
}

main {
  margin: 0 auto;
  padding: 0 3%;
  text-transform: uppercase;  
}

main .wrap {
  max-width: 1090px;
  position: relative;
}

main .men {
  padding-top: 80px;
  display: flex;
  justify-content: space-between;

}

.men p {
  margin-right: 30px;
}

.line {
  background: #cccccc;
  height: 2px;
  width: 100%;
  margin-top: 10px;
}

.product_page1 {
  display: block;
  position: absolute;
  right: 0;
  top: 140px;
  width: 35px;
  height: 35px;
}

.product_page1 span {
  color: #aa9b77;
  font-weight: 700;
  font-size: 16px;
}

.product_page1 a {
  padding-left: 1px;
}

.product_page1 a:last-child {
  padding-left: 5px;
}

.product__men {
  display: flex;
  justify-content: space-between;
  margin-top: 90px;
}

main div[class^="sell"] {
  width: 320px;
  height: 375px;
  background: #f5f6f7;  
  box-sizing: border-box;
  border: 6px solid #f5f6f7;
  padding: 17px 24px;
  position: relative;
}

main div[class^="sell"]:hover {
  border: 6px solid #aa9b77;
  border-radius: 3px;
}

main div[class^="sell"] ul {
  display: inline-block;
  clear: both;
  float: right;
  margin-top: -21px;
}

/*.sell_top {
  display: flex;
  justify-content: space-between;
}*/

a[class^="sell_color"] {
  display: block;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  /*background: pink;*/
}

.sell_color1 {background: #165eb9;}
.sell_color2 {background: #ffe637;}
.sell_color3 {background: #535253;}
.sell_color4 {background: #d3a7ac;}
.sell_color5 {background: #ffffff;}

.sell_image {
  display: block;
  margin: 0 auto;
  max-width: 146px;
}

.sell1 p,
.sell2 p,
.sell4 p,
.sell5 p,
.sell6 p {
  position: relative;
  width: 30px;
}

.sell1 p::after,
.sell2 p::after,
.sell4 p::after,
.sell5 p::after,
.sell6 p::after {
  display: block;
  content: "";
  position: absolute;
  background: url(images/arrow-down.png) no-repeat;
  width: 12px;
  height: 8px;
  bottom: 6px;
  left: 38px;
}

.sell1 .sell_image {
  margin-top: 45px;
}
.sell2 .sell_image {
  margin-top: 25px;
}
.sell3 .sell_image {
  margin-top: 35px;
}

main div[class^="sell"] .sell_bottom {
  position: absolute;
  display: block;  
  bottom: 20px;
}

.sell_bottom li {
  font-size: 18px;
  color: #aa9b77;
  display: block;
  width: 100%;
}

.sell_bottom li::after { 
  color: #424242;
  font-size: 22px;
  position: absolute;
  display: block;
  width: 100px;
  bottom: -3px;
  left: 190px;
}
.sell1 .sell_bottom li::after {
  content: "5,00€";
  left: 205px;
}
.sell2 .sell_bottom li::after {
  content: "30,00€";
}
.sell3 .sell_bottom li::after {
  content: "60,00€";
}

main .women {
  padding-top: 80px;
  display: flex;
  justify-content: space-between; 
}

main .women p {
  margin-left: 8px;
}

.product_page2 {
  display: block;
  margin-top: 50px;
  width: 35px;
  height: 35px;
}

.product_page2 span {
  color: #aa9b77;
  font-weight: 700;
  font-size: 16px;
}

.product_page2 a {
  padding-left: 1px;
}

.product_page2 a:last-child {
  padding-left: 5px;
}

.product__women {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 130px;
}

.sell4 .sell_image {
  margin-top: 33px;
  padding-right: 35px;
}
.sell5 .sell_image {
  margin-top: 75px;
  padding-right: 20px;
}
.sell6 .sell_image {
  margin-top: 25px;
  padding-right: 25px;
}

.sell4 .sell_bottom li::after {
  content: "60,00€";
  left: 185px;
}
.sell5 .sell_bottom li::after {
  content: "80,00€";
}
.sell6 .sell_bottom li::after {
  content: "20,00€";
}

.about {
  background: #aa9b77;
  padding-top: 75px;
  padding-bottom: 70px;
}

.about__block { 
  max-width: 710px;
  margin: 0 auto;
  padding: 65px 118px 70px;
  border: 2px solid #918363; 
  font-size: 16px;
  line-height: 1.5; 
  border-top: none;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.about__block p {
  font-weight: 400;
  text-align: center;
  color: #424242;
}

.about h2 {
  color: #837659;
  font-size: 20px;
  position: absolute;
  top: -15px;
  left: 305px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
}

.about h2::before {
  content: "";
  font-weight: 400;
  width: 293px;
  height: 2px;
  background: #918363;
  position: absolute;
  left: -307px;
  top: 13px;
}

.about h2::after {
  content: "";
  width: 290px;
  height: 2px;
  background: #918363;
  position: absolute;
  right: -304px;
  bottom: 13px;
}

.twitter {
  background: #535253;
}

.twitter blockquote {
  display: inline-block;
  margin: 10px 0 10px 65px;

}

.twitter a {
  padding-left: 50px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
  font-weight: 500;
}

.twitter a::before {
  content: "";
  position: absolute;
  width: 29px;
  height: 24px;
  display: block;
  background: url(images/twitter-sprite.png) no-repeat 0 -24px;
  left: 0;
}
.twitter a:hover::before {
  background-position: 0 0;
}

footer {
  background: #424242;
  padding: 100px 0;
}

.footer__content {
  max-width: 1150px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.footer__left {
  max-width: 320px;
  text-transform: uppercase;
}
.footer__left h3 {
  font-size: 20px;
  font-weight: 500;
}
.footer__left p {
  font-size: 10px;
  line-height: 2;
  padding-top: 15px;
}

.footer__right {
  max-width: 400px;
}
.footer__right nav {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
}

.footer__right li {
  padding: 5px 15px 5px 0;
  position: relative;
}
.footer__right li:last-child {
  padding-right: 0;
}
.footer__right li::after {
  content: "";
  display: block;
  position: absolute;
  width: 2px;
  height: 13px;
  background: #aa9b77;
  top: 13px;
  left: -9px;
}
.footer__right li:first-child::after {
  display: none;
}
.footer__right a {
  color: #fff;
  padding-top: 5px;
  padding-bottom: 5px;
}
.footer__right a:hover {
  text-decoration: underline;
}
.copyright {
  text-align: right;
  font-size: 18px;
  font-weight: 500;
}

